.header {
  padding: 1.5rem 0;
  background: white;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }

  &__navigation-list {
    display: flex;
    gap: 1rem;
  }

  &__navigation-link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    outline: none;
    outline-offset: .25rem;
    border-radius: .5rem;
    
    &:focus-visible {
      outline: 2px solid #0070f3;
    }
  }

  &__navigation-link--active {
    color: #0070f3;
  }
}