<header class="header">
  <app-container>
    <div class="header__inner">
      <a routerLink="/help" class="header__logo">
        <h1>Поиск компании</h1>
      </a>
      <nav class="header__navigation">
        <ul class="header__navigation-list">
          <li><a routerLink="/" routerLinkActive="header__navigation-link--active" [routerLinkActiveOptions]="{exact: true}" class="header__navigation-link">Все компании</a></li>
          <li><a routerLink="/map" routerLinkActive="header__navigation-link--active" class="header__navigation-link">Компании на карте</a></li>
        </ul>
      </nav>
    </div>
  </app-container>
</header>
