<ul class="sorting-list">
  <li>
    <button class="sorting-button" (click)="onButtonClick('business_name')">
      <span class="sorting-button__name">Имя</span>
      <ng-container *ngIf="sortingData?.field === 'business_name'">
        <ng-container *ngIf="sortingData?.isAscending; then thenBlock else elseBlock"></ng-container>
      </ng-container>
    </button>
  </li>
  <li>
    <button class="sorting-button" (click)="onButtonClick('type')">
      <span class="sorting-button__name">Тип</span>
      <ng-container *ngIf="sortingData?.field === 'type'">
        <ng-container *ngIf="sortingData?.isAscending; then thenBlock else elseBlock"></ng-container>
      </ng-container>
    </button>
  </li>
  <li>
    <button class="sorting-button" (click)="onButtonClick('industry')">
      <span class="sorting-button__name">Вид деятельности</span>
      <ng-container *ngIf="sortingData?.field === 'industry'">
        <ng-container *ngIf="sortingData?.isAscending; then thenBlock else elseBlock"></ng-container>
      </ng-container>
    </button>
  </li>
</ul>

<ng-template #thenBlock>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-up-a-z"
  >
    <path d="m3 8 4-4 4 4" />
    <path d="M7 4v16" />
    <path d="M20 8h-5" />
    <path d="M15 10V6.5a2.5 2.5 0 0 1 5 0V10" />
    <path d="M15 14h5l-5 6h5" />
  </svg>
</ng-template>
<ng-template #elseBlock>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-down-a-z"
  >
    <path d="m3 16 4 4 4-4" />
    <path d="M7 20V4" />
    <path d="M20 8h-5" />
    <path d="M15 10V6.5a2.5 2.5 0 0 1 5 0V10" />
    <path d="M15 14h5l-5 6h5" />
  </svg>
</ng-template>
